
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');
@import "tailwindcss";


@theme {
    --font-home: "Kaushan Script", cursive;
    --font-home-1: "Playwrite DE SAS", cursive;
    --font-title-one: "Montserrat", sans-serif;
    --font-two-title-1: "Cormorant Unicase", serif;
    --font-two-title-2: "Stalemate", cursive;
    --font-one-title: "Cinzel Decorative", serif;
    --font-subtitles: "Fredoka", sans-serif;
    --font-descriptive: "Poiret One", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * ((300px + 16px) * 7)));
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  flex-shrink: 0; 
}
